@import "../../config.less";

// COLORS
@mainColor: #404040;
@topPanelDropdownTextColor: @mainColor;
@mainSidebarBackgroundColor: @mainColor;
@brandFontColor: @mainColor;

body {
  background-color:#8C8C8C;
}